:root {
    --basic-title-color: #D41443;
    --background-cream: #FFB8CA;
    --background-coffee: #F0D1A5;
    --background-milkshakes: #C2E297;
    --background-mobile-open: #E17992;
    --background-section: #FFF5F6;
    --subtitle-color: #FFA5BA;
    --contacts-color: #907E82;
    --text-black-color: #000000;
    --footer-line-color: #E1E1E1;
    --social-background-color: #FEA5BB;
    --card-tittle-color:#FFFFFF;
    --title-size-desktop: 58px;
    --title-size-tablet: 48px;
    --title-size-mob: 34px;
    --subtitle-size-desktop: 30px;
    --subtitle-size-tablet: 26px;
    --subtitle-size-mob: 26px;
}