<section class="section about-section about">
    <div class="container">
        <h3 class="about__subtitle">tradition and love</h3>
        <h2 class="about__title">how it&#39;s made?</h2>
        <div class="about__description-container">
            <div>
                <!-- <picture>
                    <source srcset="./img/how-its-made/cow-desktop.png 1x, ./img/how-its-made/cow-desktop@2x.png 2x"
                        media="(min-width: 1200px)">
                    <source srcset="./img/how-its-made/cow-tablet.png 1x, ./img/how-its-made/cow-tablet@2x.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="./img/how-its-made/cow-mobile.png 1x, ./img/how-its-made/cow-mobile@2x.png 2x"
                        media="(min-width: 480px)">
                    <img class="how__img" src="./img/how-its-made/cow-mobile.png" alt="корова"> -->
                <!-- </picture> -->
            </div>
            <ul class="about__list list">
                <!-- <picture>
                    <source srcset="./img/how-its-made/milk-desktop.png 1x, ./img/how-its-made/milk-desktop@2x.png 2x"
                        media="(min-width: 1200px)">
                    <source srcset="./img/how-its-made/milk-mobile.png 1x, ./img/how-its-made/milk-mobile@2x.png 2x"
                        media="(min-width: 480px)">
                    <img class="how__milk" src="./img/how-its-made/milk-mobile.png" alt="капли молока">
                </picture> -->
                <li class="about__item">
                    <p class="about__description">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                        cursus, faucibus
                        lorem eget, egestas eros.
                        Maecenas eleifend erat at justo fringilla.</p>
                </li>
                <li class="about__item">
                    <p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
                        rhoncus orci
                        in imperdiet placerat.
                        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                        tincidunt.
                        Aliquam erat volutpat. Aenean accumsan.</p>
                </li>
                <button class="btn btn-light about__btn" type="button"><span class="btn__text">Read more</span>
                    <svg class="about__icon" width="8" height="10">
                        <use href="./images/symbol-defs.svg#icon-button_arrow_icon"></use>
                    </svg>
                </button>
            </ul>
        </div>
    </div>
</section>