<section class="section section__advantages">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages">
            <li class="advantages__item">
                    <svg class="advantages__icon">
                        <use href=""></use>
                    </svg>
                <h1 class="advantages__title">721</h1>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>

