
<div data-modal class="backdrop is-hidden">
    <div class="modal">
        <button data-modal-close class="close modal__btn" type="button">
            <svg class="modal__close-icon">
                <use href="./images/symbol-defs.svg#icon-burger_close_icon"></use>
            </svg>
        </button>
        <ul class="modal__list">
            <li class="modal__item">
                <h2 class="modal__title">ice cream</h2>
                <div class="modal__overlay-container">
                    <p class="modal__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. to voluptatum veniam saepe accusamus quidem beatae. In placeat expedita mollitia labore illo deserunt
                    </p>
                    <p class="modal__overlay-text modal__icecream">
                        Ingredients: <br>Lorem ipsum <br>Lorem ipsum dolor <br>Lorem ipsum dolor

                    </p>
                </div>
            </li>
            <li class="modal__item">
                <h2 class="modal__title">ice coffee</h2>
                <div class="modal__overlay-container">
                    <p class="modal__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. to voluptatum veniam saepe accusamus quidem beatae. In placeat
                    expedita mollitia labore illo deserunt
                    </p>
                    <p class="modal__overlay-text  modal__iceccoffee">
                        Ingredients: <br>Lorem ipsum <br>Lorem ipsum dolor <br>Lorem ipsum dolor
                
                    </p>
                </div>
            </li>
            <li class="modal__item">
                <h2 class="modal__title">milkshakes</h2>
                <div class="modal__overlay-container">
                    <p class="modal__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. to voluptatum veniam saepe accusamus quidem beatae. In placeat
                    expedita mollitia labore illo deserunt
                    </p>
                    <p class="modal__overlay-text modal__milkshakes">
                       Ingredients:<br>Lorem ipsum <br>Lorem ipsum dolor <br>Lorem ipsum dolor
                
                    </p>
                </div>
            </li>
        </ul>
   
    </div>
</div>
<!-- ===========Modal for section Contacts============= -->

<div data-modal-location class="backdrop is-hidden-location">
    <div class="modal-btns-contacts">
        <button data-modal-close-location class="close modal__btn" type="button">
            <svg class="modal__close-icon">
                <use href="./images/symbol-defs.svg#icon-burger_close_icon"></use>
            </svg>
        </button>
         <iframe class="img-modal-win" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d918037.1505811025!2d-74.14300401288011!3d40.9042548238932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2z0K3QvNC_0LDQudGALdGB0YLQtdC50YIt0LHQuNC70LTQuNC90LM!5e0!3m2!1sru!2sua!4v1658157820624!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div> 

<div data-modal-franchise class="backdrop is-hidden-franchise">
    <div class="modal-btns-contacts">
        <button data-modal-close-franchise class="close modal__btn" type="button">
            <svg class="modal__close-icon">
                <use href="./images/symbol-defs.svg#icon-burger_close_icon"></use>
            </svg>
        </button>
        <iframe class="img-modal-win" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d971.2885043458573!2d30.738589165189424!3d46.483980727574576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c6319804a73a63%3A0x46b18fc3e266c8a!2z0YPQuy4g0JTQtdGA0LjQsdCw0YHQvtCy0YHQutCw0Y8sIDE0LCDQntC00LXRgdGB0LAsINCe0LTQtdGB0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDY1MDAw!5e0!3m2!1sru!2sua!4v1658158365079!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div> 