<section id="contacts" class="contacts">
    <div class="container contacts__container">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contacts_list">
            <li class="contacts_list__section list">
                
                    <p class="contacts_list__cafe_type">CAFE</p>

                    <div class="contacts_list__city_and_desription">
                         <h3 class="contacts_list__city">Chicago</h3>
                        <p class="contacts_list__cafe_desription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>

                    <div class="contacts_list__cafe_schedule">
                        <div class="contacts_list__cafe_schedule_weekdays">
                            <h3 class="contacts_list__cafe_schedule_day">Monday - Friday</h3>
                            <p class="contacts_list__cafe_schedule_time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts_list__cafe_schedule_holidays">
                            <h3 class="contacts_list__cafe_schedule_day">Saturday - Sunday</h3>
                            <p class="contacts_list__cafe_schedule_time">08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    
                    <div class="cafe_contacts">
                        <a class="cafe_contacts__link link" href="tel:+610383766284 ">+61(0) 383 766 284</a>
                        <a class="cafe_contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
            </li>

            <li class="contacts_list__section list">
                    <p class="contacts_list__cafe_type_foodtruck">FOODTRUCK</p>

                    <div class="contacts_list__city_and_desription">
                        <h3 class="contacts_list__city">Los Angeles</h3>
                        <p class="contacts_list__cafe_desription"> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    
                    <div class="contacts_list__cafe_schedule">
                        <div class="contacts_list__cafe_schedule_weekdays">
                            <h3 class="contacts_list__cafe_schedule_day">Monday - Friday</h3>
                            <p class="contacts_list__cafe_schedule_time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts_list__cafe_schedule_holidays">
                            <h3 class="contacts_list__cafe_schedule_day">Saturday - Sunday</h3>
                            <p class="contacts_list__cafe_schedule_time">08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    
                    <div class="cafe_contacts">
                        <a class="cafe_contacts__link link" href="tel:+610383766284 ">+61(0) 383 766 284</a>
                        <a class="cafe_contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
            </li>

            <li class="contacts_list__section list">
               
                    <p class="contacts_list__cafe_type">CAFE</p>
                    <div class="contacts_list__city_and_desription">
                        <h3 class="contacts_list__city">New York</h3> 
                        <p class="contacts_list__cafe_desription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>

                    <div class="contacts_list__cafe_schedule">
                        <div class="contacts_list__cafe_schedule_weekdays">
                            <h3 class="contacts_list__cafe_schedule_day">Monday - Friday</h3>
                            <p class="contacts_list__cafe_schedule_time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts_list__cafe_schedule_holidays">
                            <h3 class="contacts_list__cafe_schedule_day">Saturday - Sunday</h3>
                            <p class="contacts_list__cafe_schedule_time"> 08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    

                    <ul class="cafe_contacts">
                       <li>
                        <a class="cafe_contacts__link link" href="tel:+610383766284 ">+61(0) 383 766 284</a>
                       </li>
                       <li>
                        <a class="cafe_contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                       </li>
                    </ul>
            </li>
        </ul>
            <ul class="contacts_btn">
                <li>
                        <button class="btn btn-red" href="" data-modal-open-location>
                        <span class="btn_text_for_top">Our Locations</span> 
                       
                        <svg class="btn_icon" width="8" height="10">
                        <use href="./images/symbol-defs.svg#icon-icon-button_arrow_icon_white"></use>
                        </svg>
                        </button>
                </li>
                <li>
                        <button class="btn btn-light" href="" data-modal-open-franchise>
                            <span class="btn_text_for_bottom">Franchise</span>
    
                            <svg class="btn_icon" width="8" height="10">
                            <use href="./images/symbol-defs.svg#icon-button_arrow_icon"></use>
                            </svg>
                        </button>
                </li>
            </ul>
    </div>   
</section> 
