<section class="contacts">
    <div class="container">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contacts_list">
            <li class="contacts_sections list">
                <div class="contacts_section_content">
                    <p class="cafe_type">CAFE</p>

                    <div class="contacts_city_and_desription">
                         <h3 class="city">Chicago</h3>
                        <p class="cafe_desription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>

                    <div class="cafe_schedule">
                        <div class="cafe_schedule_weekdays">
                            <h3 class="cafe_schedule_day">Monday - Friday</h3>
                            <p class="cafe_schedule_time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="cafe_schedule_holidays">
                            <h3 class="cafe_schedule_day">Saturday - Sunday</h3>
                            <p class="cafe_schedule_time">08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    
                    <div class="cafe_contacts">
                        <a class="cafe_contacts_link link" href="tel:+610383766284 ">+61(0) 383 766 284</a>
                        <a class="cafe_contacts_link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                    
                </div>
            </li>

            <li class="contacts_sections list">
                <div class="contacts_section_content">
                    <p class="cafe_type_foodtruck">FOODTRUCK</p>

                    <div class="contacts_city_and_desription">
                        <h3 class="city">Los Angeles</h3>
                        <p class="cafe_desription"> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    
                    <div class="cafe_schedule">
                        <div class="cafe_schedule_weekdays">
                            <h3 class="cafe_schedule_day">Monday - Friday</h3>
                            <p class="cafe_schedule_time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="cafe_schedule_holidays">
                            <h3 class="cafe_schedule_day">Saturday - Sunday</h3>
                            <p class="cafe_schedule_time">08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    
                    <div class="cafe_contacts">
                        <a class="cafe_contacts_link link" href="tel:+610383766284 ">+61(0) 383 766 284</a>
                        <a class="cafe_contacts_link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                    
                </div>
            </li>

            <li class="contacts_sections list">
                <div class="contacts_section_content">
                    <p class="cafe_type">CAFE</p>
                    <div class="contacts_city_and_desription">
                        <h3 class="city">New York</h3> 
                        <p class="cafe_desription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>

                    <div class="cafe_schedule">
                        <div class="cafe_schedule_weekdays">
                            <h3 class="cafe_schedule_day">Monday - Friday</h3>
                            <p class="cafe_schedule_time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="cafe_schedule_holidays">
                            <h3 class="cafe_schedule_day">Saturday - Sunday</h3>
                            <p class="cafe_schedule_time"> 08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    

                    <div class="cafe_contacts">
                        <a class="cafe_contacts_link link" href="tel:+610383766284 ">+61(0) 383 766 284</a>
                        <a class="cafe_contacts_link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </div>
            
            </li>
        </ul>
            <div class="contacts_btn">
                <button type="button" class="btn btn-light">
                    <span class="btn_text_for_top">Our Locations</span> 

                    <svg class="btn_icon" width="8" height="10">
                    <use href="./images/symbol-defs.svg#icon-button_arrow_icon"></use>
                    </svg>

                </button>

                <button type="button" class="btn btn-light">
                
                    <span class="btn_text_for_bottom">Franchise</span>

                    <svg class="btn_icon" width="8" height="10">
                    <use href="./images/symbol-defs.svg#icon-button_arrow_icon"></use>
                    </svg>

                </button>
            </div>
    </div>    
</section> 
