<footer class="footer">
    <div class="container footer__container">
        <div class="doubl-title">
            <p class="label">homemade ice cream made</p>
            <p class="footer__tittle">with passion</p>
        </div>

        <div class="social-contact">
            <div class="footer-social">

                <ul class="social-list">
                    <li class="social-list__item">
                        <a class="social-list__link" href="https://github.com/" target="_blank">
                            <svg class="social-list__icon" width="20" height="20">
                                <use href="./images/symbol-defs.svg#icon-footer_git_hub_icon"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="social-list__item">
                        <a class="social-list__link" href="https://web.telegram.org/z/" target="_blank">
                            <svg class="social-list__icon" width="20" height="20">
                                <use href="./images/symbol-defs.svg#icon-footer_-telegram_icon"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="social-list__item">
                        <a class="social-list__link" href="https://www.facebook.com/" target="_blank">
                            <svg class="social-list__icon" width="20" height="20">
                                <use href="./images/symbol-defs.svg#icon-footer_facebook_icon"></use>
                            </svg>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="footer-contact">
                <span class="footer-contact__text">Feel free to contact</span>
                <a class="footer-contact__tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
            </div>
        </div>
    </div>


    <div class="footer-rights">
        <p class="footer-rights__description">© 2022 - IceCream.</p>
        <p class="footer-rights__description">All Rights Reserved.</p>
    </div>

</footer>