<section class="section section__backgroung">
  <div class="container__gallery">
    <h2 class="visually-hidden">Галерея</h2>
    <div class="grid">
      <div class="stamp stamp1"></div>
      <div class="stamp stamp2"></div>
      <div class="stamp stamp3"></div>
      <div class="stamp stamp4"></div>
      <div class="stamp stamp5"></div>
      <picture>
        <source
          srcset="
            ./images/gallery/desktop_img7.webp    1x,
            ./images/gallery/desktop_img7@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/desktop_img7.png    1x,
            ./images/gallery/desktop_img7@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet_img7.webp    1x,
            ./images/gallery/tablet_img7@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/tablet_img7.png    1x,
            ./images/gallery/tablet_img7@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/img7.webp    1x,
            ./images/gallery/img7@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/img7.png 1x,
            ./images/gallery/img7@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img class="grid-item grid-item--gigante" src="./images/gallery/img7.png" alt="icecream" />
      </picture>
      <picture>
        <source
          srcset="
            ./images/gallery/desktop_img2.webp    1x,
            ./images/gallery/desktop_img2@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/desktop_img2.png    1x,
            ./images/gallery/desktop_img2@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet_img2.webp    1x,
            ./images/gallery/tablet_img2@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/tablet_img2.png    1x,
            ./images/gallery/tablet_img2@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/img2.webp    1x,
            ./images/gallery/img2@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/img2.png 1x,
            ./images/gallery/img2@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img class="grid-item" src="./images/gallery/img2.png" alt="icecream" />
      </picture>
      <picture>
        <source
          srcset="
            ./images/gallery/desktop_img3.webp    1x,
            ./images/gallery/desktop_img3@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/desktop_img3.png    1x,
            ./images/gallery/desktop_img3@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet_img3.webp    1x,
            ./images/gallery/tablet_img3@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/tablet_img3.png    1x,
            ./images/gallery/tablet_img3@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/img3.webp    1x,
            ./images/gallery/img3@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/img3.png 1x,
            ./images/gallery/img3@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img class="grid-item" src="./images/gallery/img3.png" alt="icecream" />
      </picture>
      <picture>
        <source
          srcset="
            ./images/gallery/desktop_img4.webp    1x,
            ./images/gallery/desktop_img4@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/desktop_img4.png    1x,
            ./images/gallery/desktop_img4@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet_img4.webp    1x,
            ./images/gallery/tablet_img4@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/tablet_img4.png    1x,
            ./images/gallery/tablet_img4@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/img4.webp    1x,
            ./images/gallery/img4@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/img4.png 1x,
            ./images/gallery/img4@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img class="grid-item" src="./images/gallery/img4.png" alt="icecream" />
      </picture>
      <picture>
        <source
          srcset="
            ./images/gallery/desktop_img5.webp    1x,
            ./images/gallery/desktop_img5@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/desktop_img5.png    1x,
            ./images/gallery/desktop_img5@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet_img5.webp    1x,
            ./images/gallery/tablet_img5@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/tablet_img5.png    1x,
            ./images/gallery/tablet_img5@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/img5.webp    1x,
            ./images/gallery/img5@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/img5.png 1x,
            ./images/gallery/img5@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img class="grid-item" src="./images/gallery/img5.png" alt="icecream" />
      </picture>
      <picture>
        <source
          srcset="
            ./images/gallery/desktop_img6.webp    1x,
            ./images/gallery/desktop_img6@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/desktop_img6.png    1x,
            ./images/gallery/desktop_img6@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet_img6.webp    1x,
            ./images/gallery/tablet_img6@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/tablet_img6.png    1x,
            ./images/gallery/tablet_img6@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/img6.webp    1x,
            ./images/gallery/img6@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/img6.png 1x,
            ./images/gallery/img6@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img class="grid-item" src="./images/gallery/img6.png" alt="icecream" />
      </picture>
      <picture>
        <source
          srcset="
            ./images/gallery/desktop_img1.webp    1x,
            ./images/gallery/desktop_img1@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/desktop_img1.png    1x,
            ./images/gallery/desktop_img1@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet_img1.webp    1x,
            ./images/gallery/tablet_img1@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/tablet_img1.png    1x,
            ./images/gallery/tablet_img1@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/img1.webp    1x,
            ./images/gallery/img1@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/img1.png 1x,
            ./images/gallery/img1@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img class="grid-item" src="./images/gallery/img1.png" alt="icecream" />
      </picture>
      <picture>
        <source
          srcset="
            ./images/gallery/desktop_img8.webp    1x,
            ./images/gallery/desktop_img8@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/desktop_img8.png    1x,
            ./images/gallery/desktop_img8@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet_img8.webp    1x,
            ./images/gallery/tablet_img8@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/tablet_img8.png    1x,
            ./images/gallery/tablet_img8@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/img8.webp    1x,
            ./images/gallery/img8@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/img8.png 1x,
            ./images/gallery/img8@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img class="grid-item" src="./images/gallery/img8.png" alt="icecream" />
      </picture>
      <picture>
        <source
          srcset="
            ./images/gallery/desktop_img9.webp    1x,
            ./images/gallery/desktop_img9@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/desktop_img9.png    1x,
            ./images/gallery/desktop_img9@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet_img9.webp    1x,
            ./images/gallery/tablet_img9@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/tablet_img9.png    1x,
            ./images/gallery/tablet_img9@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/img9.webp    1x,
            ./images/gallery/img9@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/img9.png 1x,
            ./images/gallery/img9@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img class="grid-item" src="./images/gallery/img9.png" alt="icecream" />
      </picture>
      <picture>
        <source
          srcset="
            ./images/gallery/desktop_img10.webp    1x,
            ./images/gallery/desktop_img10@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/desktop_img10.png    1x,
            ./images/gallery/desktop_img10@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet_img10.webp    1x,
            ./images/gallery/tablet_img10@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/tablet_img10.png    1x,
            ./images/gallery/tablet_img10@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/img10.webp    1x,
            ./images/gallery/img10@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/img10.png 1x,
            ./images/gallery/img10@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img class="grid-item" src="./images/gallery/img10.png" alt="icecream" />
      </picture> 
    </div>
  </div>
</section>
<!-- <section class="section section__backgroung">
    <div class="container__gallery">
        <h2 class="visually-hidden">Галерея</h2>
        <picture>
            <source
                      srcset="
                        ./images/gallery_desktop.webp 1x,
                        ./images/gallery_desktop@2x.webp 2x
                      "
                      media="(min-width: 1200px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/gallery_desktop.png 1x,
                        ./images/gallery_desktop@2x.png 2x
                      "
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="
                        ./images/gallery_tablet.webp 1x,
                        ./images/gallery_tablet@2x.webp 2x
                      "
                      media="(min-width: 768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/gallery_tablet.png 1x,
                        ./images/gallery_tablet@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        ./images/gallery_mobile.webp 1x,
                        ./images/gallery_mobile@2x.webp 2x
                      "
                      media="(max-width: 767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/gallery_mobile.png 1x,
                        ./images/gallery_mobile@2x.png  2x
                      "
                      media="(max-width: 767px)"
                    />
            <img  class="gallery__img" src="./images/gallery_mobile.png" alt="мороженое">
        </picture>
    </div>
</section> -->