<section class="section section__backgroung">
    <div class="container__gallery">
        <h2 class="visually-hidden">Галерея</h2>
        <picture>
            <source
                      srcset="
                        ./images/gallery_desktop.webp 1x,
                        ./images/gallery_desktop@2x.webp 2x
                      "
                      media="(min-width: 1200px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/gallery_desktop.png 1x,
                        ./images/gallery_desktop@2x.png 2x
                      "
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="
                        ./images/gallery_tablet.webp 1x,
                        ./images/gallery_tablet@2x.webp 2x
                      "
                      media="(min-width: 768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/gallery_tablet.png 1x,
                        ./images/gallery_tablet@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        ./images/gallery_mobile.webp 1x,
                        ./images/gallery_mobile@2x.webp 2x
                      "
                      media="(max-width: 767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/gallery_mobile.png 1x,
                        ./images/gallery_mobile@2x.png  2x
                      "
                      media="(max-width: 767px)"
                    />
            <img  class="gallery__img" src="./images/gallery_mobile.png" alt="мороженое">
        </picture>
    </div>
</section>