

<section class="page-header">
    <div class="page-header__container container">
        <div class="logo__container">
            <svg class="logo__icon" width="199px" height="50px">
                <use href="./images/symbol-defs.svg#icon-logo_icon"></use>
            </svg>
        </div>
        
        
        <nav class="navigation__container">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">About us</a></li>
                <li class="navigation__item"><a href="#about" class="navigation__link">How it's made?</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Our products</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
            </ul>
        </nav>


        <div class="header-buttons__container">
            <svg class="mobile-menu__open-button" width="20px" height="12px">
                <use href="./images/symbol-defs.svg#icon-burger_menu_icon"></use>
            </svg>
            
            <button type="button" class="header__button">Buy now
                <svg class="about__icon" width="8" height="10">
                    <use href="./images/symbol-defs.svg#icon-button_arrow_icon"></use>
                </svg>
            </button>
        </div>

    </div>
    
</section>


