<section class="hero">
    <div class="container ">
        <h1 class="hero__title">Ice cream <br> made with <br> <span class="hero__title-part">passion</span> </h1>
        <div class="hero__conteiner-relative">
        <ul class="hero__menu">
            <li class="hero__item"><a class="hero__link-wite" href="#products-link">Products</a></li>
            <li class="hero__item hero__item-white"><a class="hero__link-red" href="#made-link">How it’s made?</a></li>
        </ul>
    </div>
<
        <picture class="img">
            <source media="(min-width: 1280px)"
                srcset=".webp 1x,.webp 2x" type="image/webp" />
            <source media="(min-width: 1280px)"
                srcset=".jpg 1x,.jpg 2x" />
            <source media="(min-width: 768px)"
                srcset=".webp 1x,.webp 2x" type="image/webp" />
            <source media="(min-width: 768px)"
                srcset=".jpg 1x, .jpg 2x" />
            <source media="(max-width: 767px)"
                srcset=".webp 1x,.mobile@2x.webp 2x" type="image/webp" />
            <source media="(max-width: 767px)"
                srcset="mobile.jpg 1x, mobile@2x.jpg 2x" />
        <img src="" alt="main big ice cream">
        </picture>

    <picture class="img">
        <source media="(min-width: 1280px)" srcset=".webp 1x,.webp 2x" type="image/webp" />
        <source media="(min-width: 1280px)" srcset=".jpg 1x,.jpg 2x" />
        <source media="(min-width: 768px)" srcset=".webp 1x,.webp 2x" type="image/webp" />
        <source media="(min-width: 768px)" srcset=".jpg 1x, .jpg 2x" />
        <source media="(max-width: 767px)" srcset=".webp 1x,.mobile@2x.webp 2x" type="image/webp" />
        <source media="(max-width: 767px)" srcset="mobile.jpg 1x, mobile@2x.jpg 2x" />
        <img src="" alt="pink circle">
    </picture>

<div class="hero__text-conteiner">
<p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
   </div>
   <ul class="hero__menu-numbers">
    <li class="hero__item-numbers">
       <h2> 16</h2> 
    <p class="hero__text">cafes</p>
    </li>
    <li class="hero__item-numbers">
        <h2> 23</h2>
        <p class="hero__text">food trucks</p></li>
   </ul>
 </div>
</section>