<section class="hero">
    <div class="">
        <div class="container ">
            <h1 class="hero__title">Ice cream <br> made with <br> <span class="hero__title-part">passion</span> </h1>
            <div class="hero__conteiner-relative">
                <ul class="hero__menu">
                    <li class="hero__item"><a class="hero__link-wite" href="#products-link">Products</a></li>
                    <li class="hero__item hero__item-white"><a class="hero__link-red" href="#made-link">How it’s
                            made?</a></li>
                </ul>
            </div>
          <div class="women-picture">
        <picture class="img">
            <source media="(min-width: 1280px)"
                srcset="./images/hero-webp/woman-desktop-webp.webp 1x,./images/hero-webp/woman-desktop-webp-@2x.webp 2x" type="image/webp" />
            <source media="(min-width: 1280px)"
                srcset="./images/Ice-hero/slider-desktop.png 1x, ./images/Ice-hero/slider@2x-desktop.png 2x"/>
            <source media="(min-width: 768px)"
                srcset="./images/hero-webp/slider-tablet.webp 1x, ./images/hero-webp/slider@2x-tablet.webp 2x" type="image/webp" />
            <source media="(min-width: 768px)"
  srcset="./images/Ice-hero/slider-tablet.png 1x,./images/Ice-hero/slider@2x-tablet.png 2x"/>
        <img src="./images/Ice-hero/slider-tablet.png" alt="main big ice cream">
        </picture>
    </div>
<!--
    <picture class="img">
        <source media="(min-width: 1280px)" srcset=".webp 1x,.webp 2x" type="image/webp" />
        <source media="(min-width: 1280px)" srcset=".jpg 1x,.jpg 2x" />
        <source media="(min-width: 768px)" srcset=".webp 1x,.webp 2x" type="image/webp" />
        <source media="(min-width: 768px)" srcset=".jpg 1x, .jpg 2x" />
        <source media="(max-width: 767px)" srcset=".webp 1x,.mobile@2x.webp 2x" type="image/webp" />
        <source media="(max-width: 767px)" srcset="mobile.jpg 1x, mobile@2x.jpg 2x" />
        <img src="" alt="pink circle">
    </picture>
-->
            <div class="hero__text-conteiner">
                <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et</p>
            </div>
            <ul class="hero__menu-numbers">
                <li class="hero__item-numbers">
                    <h2> 16</h2>
                    <p class="hero__item-numbers-text">cafes</p>
                </li>
                <li class="hero__item-numbers">
                    <h2> 23</h2>
                    <p class="hero__item-numbers-text">food trucks</p>
                </li>
            </ul>
        </div>
    </div>
</section>