<section class="hero">
    
        <div class="container ">
            <div class="hero__conteiner">
            <div class="hero__conteiner-position">
                <div class="hero__title-conteiner">
                    <h1 class="hero__title">Ice cream <br> made with <br> <span class="hero__title-part">passion</span>
                    </h1>

                    <ul class="hero__menu">
                        <li class="hero__item"><a class="hero__link-wite" href="#products-link">Products</a></li>
                        <li class="hero__item hero__item-white"><a class="hero__link-red" href="#made-link">How it’s
                                made?</a></li>
                    </ul>
                </div>
                <div class="hero__menu-numbers-conteiner">
                    <ul class="hero__menu-numbers">
                        <li class="hero__item-numbers">
                            <h2> 16</h2>
                            <p class="hero__item-numbers-text">cafes</p>
                        </li>
                        <li class="hero__item-numbers">
                            <h2> 23</h2>
                            <p class="hero__item-numbers-text">food trucks</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="women-picture">
                <picture class="img">

                    <source media="(min-width: 1280px)"
                        srcset="./images/Ice-hero/slider-desktop.png 1x, ./images/Ice-hero/slider@2x-desktop.png 2x" />
                    <source media="(min-width: 768px)"
                        srcset="./images/Ice-hero/slider-tablet.png 1x,./images/Ice-hero/slider@2x-tablet.png 2x" />
                    <img src="./images/Ice-hero/slider-tablet.png" alt="womam with icecream">
                </picture>
            </div>


            <div class="milk-picture">
                <picture class="img">

                    <source media="(min-width: 1280px)"
                        srcset="./images/Ice-hero/ecomilk-desktop.png 1x, ./images/Ice-hero/ecomilk@2x-desktop.png 2x" />
                    <source media="(min-width: 768px)"
                        srcset="./images/Ice-hero/ecomilk-tablet.png 1x,./images/Ice-hero/ecomilk@2x-tablet.png 2x" />
                    <img src="./images/Ice-hero/ecomilk-tablet.png" alt="milk">
                </picture>
            </div>

            <div class="hero__text-conteiner">
                <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et</p>
                    <button type="button" class="hero__button" >
<picture class="img">
    <source media="(min-width: 1280px)"
        srcset="./images/Ice-hero/button-text-desctop.png 1x, ./images/Ice-hero/button-text-desctop@2x.png 2x" />
    <source media="(min-width: 768px)"
        srcset="./images/Ice-hero/button-text.png 1x, ./images/Ice-hero/button-text@2x.png 2x" />
    <img src="./images/Ice-hero/button-text.png" alt="button">
</picture>
                    </button>
            </div>

        </div>
    </div>
</section>