<section class="section products__section" id="products">
   
    <div class="container">
        <p class="label-text">100% natural</p>
         <h2 id="products-link" class="products__section-tittle">products</h2>
        <ul class="products__list">

            <li class="products__item products__ice-cream">
                <h3 class="products__tittle products__poits">ice cream</h3>
                <p class="products__description products__arrow">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </li>
        
            <li class="products__item products__coffee">
                    <h3 class="products__tittle products__poits">ice coffee</h3>
                    <p class="products__description products__arrow">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </li>
            <li class="products__item products__milkshakes">
                <h3 class="products__tittle products__poits">milkshakes</h3>
                <p class="products__description products__arrow">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </li>


        </ul>
    </div>

</section>