<section class="section products__section">
   
    <div class="container">
        <p class="label-text">100% natural</p>
         <h2 id="products-link" class="products__section-tittle">products</h2>
        <ul class="products__list">
            <li class="products__item products__ice-cream">
                
<!--             <div class="products__box">
                <picture>
                    <source srcset="./images/ice-products-png/ice-cream-desktop.png 1x, ./images/ice-products-png/ice-cream-desktop-@2x.png 2x"
                    media="(min-width: 1200px)">
                   <source srcset="./images/ice-products-png/ice-cream-tablet.png 1x, ./images/ice-products-png/ice-cream-tablet-@2x.png 2x" 
                   media="(min-width: 768px)">
                   <source srcset="./images/ice-products-png/ice-cream-mobile.png 1x, ./images/ice-products-png/ice-cream-mobile-@2x.png 2x" 
                   media="(max-width: 767px)">

                   <img src="./images/ice-products-png/ice-cream-desktop.png" alt="ice-cream">
                </picture>
            </div> 
 -->                   

                
                    <h3 class="products__tittle ">ice cream</h3>
                    <button type="button" class="products__poits products__btn">
                            <img src="./images/png-products/poits-png.png" alt="poits" width="26" height="6">
                    </button>
                    <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button type="button" class="products__arrow products__btn">
                        <img src="./images/png-products/arrow-png.png" alt="arrow" width="40" height="40">
                    </button> 
               
              
                   
                   
                    
            </li>
            
            <li class="products__item products__coffee">
               <!--  <div class="products__box">
                    <picture>
                        <source srcset="./images/ice-products-png/coffee-desktop.png 1x, ./images/ice-products-png/coffee-desktop-@2x.png 2x"
                        media="(min-width: 1200px)">
                       <source srcset="./images/ice-products-png/coffee-tablet.png 1x, ./images/ice-products-png/coffee-tablet-@2x.png 2x" 
                       media="(min-width: 768px)">
                       <source srcset="./images/ice-products-png/coffee-mobile.png 1x, ./images/ice-products-png/coffee-mobile-@2x.png 2x" 
                       media="(max-width: 767px)">

                       <img src="./images/ice-products-png/coffee-desktop.png" alt="ice-coffee">
                    </picture>
                </div> -->
                
                  

                    <h3 class="products__tittle">ice coffee</h3>
                    <button type="button" class="products__poits">
                        <img src="./images/png-products/poits-png.png" alt="poits" width="26" height="6">
                    </button>

                    <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button type="button" class="products__arrow">
                        <img src="./images/png-products/arrow-png.png" alt="arrow" width="40" height="40">
                    </button>
                
            </li>
            <li class="products__item products__milkshakes">
                
           <!--      <div class="products__box">
                    <picture>
                        <source srcset="./images/ice-products-png/milkshakes-desktop.png 1x, ./images/ice-products-png/milkshakes-desktop-@2x.png 2x"
                        media="(min-width: 1200px)">
                       <source srcset="./images\ice-products-png/milkshakes-tablet.png 1x, ./images/ice-products-png/milkshakes-tablet-@2x.png 2x" 
                       media="(min-width: 768px)">
                       <source srcset="./images\ice-products-png/milkshakes-mobile.png 1x, ./images/ice-products-png/milkshakes-mobile-@2x.png 2x" 
                       media="(max-width: 767px)">

                       <img src="./images/ice-products-png/milkshakes-desktop.png" alt="milkshakes">
                    </picture>
                </div> -->
                    

                    <h3 class="products__tittle">milkshakes</h3>
                    <button type="button" class="products__poits">
                        <img src="./images/png-products/poits-png.png" alt="poits" width="26" height="6">
                    </button>
                    <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button type="button" class="products__arrow">
                        <img src="./images/png-products/arrow-png.png" alt="arrow" width="40" height="40">
                    </button>
            </li>


        </ul>
    </div>

</section>