.btn {
    min-width: 161px;
    height: 44px;

    padding-top: 12px;
    padding-bottom: 12px;

    border-radius: 22px;
    border: none;
    cursor: pointer;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    display: flex;
    align-items: center;
    text-align: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn-light {

    background-color: #fff;
    color: var(--basic-title-color);

    &:hover,
    &:focus {
        background-color: #ECEBEB;
    }
}

.btn-red {

    background-color: var(--basic-title-color);
    color: #fff;

    &:hover,
    &:focus {
        background-color: #9b0e31;
    }

}
