.about {
    background-color: var(--background-section);
    position: relative;
}

// .about__container {
//    position: relative;
// }

.about__subtitle {
    @include font(18px, 400, 21px);
    font-family: 'Titan One';
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--subtitle-color);

    margin-bottom: 15px;
}

.about__title {
    @include font(34px, 400, 39px);
    font-family: 'Titan One';
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--basic-title-color);

    margin-bottom: 32px;
}

.about__cow-img {
    height: auto;
    max-width: 100%;
    display: block;

    margin: 0 auto;
    margin-bottom: 40px;
}

.about__item {
    width: 78%;

    &:not(:last-child) {
        margin-bottom: 26px;
    }
}

.about__milk {
    position: absolute;

    top: 67%;
    left: 10px;
    width: 90%; 
}

.about__list {
    position: relative;   
}

.about-list__text {
    margin-bottom: 20px;
}

.about__description {
    @include font(12px, 500, 19px);
    font-family: 'DM Sans';

    color: var(--text-black-color);
}

.about__text {
    @include font(12px, 500, 19px);
    font-family: 'DM Sans';

    color: var(--contacts-color);
}

.about__btn {
    @include font(14px, 700, 18px);
    @extend %ideal-centr;
    text-align: center;

    width: 176px;

    color: var(--basic-title-color);
}

.btn__text {
    margin-right: 13px;
}

.about__icon {
    width: 8px;
    height: 10px;

    fill: currentColor;
}

@media screen and (min-width: 768px) {
    .about__subtitle {
        @include font(26px, 400, 30px);

        margin-bottom: 16px;
    }

    .about__title {
        @include font(48px, 400, 55px);

        margin-bottom: 40px;
    }

    .about__item {
        width: 334px;

        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    .about-list__text {
        margin-bottom: 40px;
    }

    .about__description-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about__cow-img {
        margin: 0px;
    }

    .about__description {
        @include font(14px, 500, 25px);

        margin-bottom: 18px;
    }

    .about__text {
        @include font(14px, 500, 25px);
        font-family: 'DM Sans';
        letter-spacing: 0.04em;
    }

    .about__milk {
        display: none;
    }
}

@media screen and (min-width: 1200px) {   
    .about__subtitle {
        @include font(30px, 400, 34px);
    }

    .about__title {
        @include font(58px, 400, 66px);

        margin-bottom: 60px;
    }

    .about__description-container {        
        justify-content: left;
    }

    .about__cow-img {
        display: block;
        margin-right: 99px;
    }

    .about__description {
        @include font(16px, 500, 28px);
    }

    .about__text {
        @include font(14px, 500, 27px);
    }

    .about__item {
        width: 463px;

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    .about__milk {
        display: block;

        top: 119px;
        left: -2px;
        width: 100%;
    }
}