.contacts {
    background-image: linear-gradient(to top, var(--background-section) 80%, #FFFFFF 20%);
    padding-bottom: 40px;
 }

.contacts_list {
    margin-right:auto;
    margin-left: auto;
    margin-bottom: 32px;
}

.contacts_list__section {
background: #FFFFFF;
box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
border-radius: 24px;
padding: 40px 32px;
width: 280px;
margin-left: auto;
margin-right: auto;
}

.contacts_list__section:not(:last-child) {margin-bottom: 32px;}

.contacts_list__cafe_type {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    width: 80px;
    height: 16px;
    background: var(--background-coffee);
    border-radius: 4px;
    font-size: 12px;
    line-height: 2.2;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.contacts_list__cafe_type_foodtruck {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    width: 130px;
    height: 16px;
    background: var(--background-milkshakes);
    border-radius: 4px;
    font-size: 12px;
    line-height: 2.2;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.contacts_list__city_and_desription {
    margin-bottom: 24px;
}

.contacts_list__city_and_desription::after {
content: "";
width: 100%;
height: 0px;
border: 1px solid #E1E1E1;
display: block;
margin-top: 24px;
}

.contacts_list__cafe_desription {
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--contacts-color);
}

.contacts_list__cafe_schedule::after {
        content: "";
        width: 100%;
        height: 0px;
        border: 1px solid #E1E1E1;
        display: block;
        margin-top: 24px;
}

.contacts_list__cafe_schedule {margin-bottom: 24px;}


.contacts_list__cafe_schedule_weekdays {
    margin-bottom: 8px;
}

.contacts_list__cafe_schedule_day {
font-size: 12px;
line-height: 1.8;
color: #000000;
}

.contacts_list__cafe_schedule_time {
font-size: 12px;
line-height: 1.8;
color:var(--subtitle-color);
}

.cafe_contacts__link {
display: block;
font-size: 12px;
line-height: 1.5;
color:var(--contacts-color);

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)

}

.cafe_contacts__link:hover,
.cafe_contacts__link:focus {
    color: var(--basic-title-color);
}

.contacts_list__city {
margin-bottom: 8px;
font-size: 12px;
line-height: 1.8;
letter-spacing: 0.04em;
color: #000000;
}

.btn_text_for_top {
    padding-left: 17px;
    padding-right: 8px;
}

.btn_text_for_bottom {
    padding-left: 32px;
    padding-right: 13px;
}

.btn-red {
    margin-bottom: 10px;
}


.contacts_btn {
display: flex;
align-items: center;
justify-content: center;
flex-direction:column;
}

// ________________Media_________________

@media screen and (min-width: 768px) {
   
    .contacts_list {
        display: flex;
        flex-wrap: no wrap; 
        margin-bottom: 60px;
    }

    .contacts_list__section:not(:last-child) {
     margin-right: 32px;  
     margin-bottom: 0px 
    }

    .contacts_list__section {
        width: auto;
    }


    .contacts_btn {
       flex-direction: row;
    }

    .contacts_list__cafe_type {
    width: 73px;
    height: 28px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.87;    

    }

    .contacts_list__cafe_desription {
        font-size: 14px;}

    .contacts_list__city {
        font-size: 14px
    }
    
    .contacts_list__cafe_type_foodtruck {
    width: 138px;
    height: 28px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.87;  
    }

    .contacts_list__cafe_schedule::after {
    margin-bottom: 32px;
    margin-top: 32px;
}

    .contacts_list__cafe_schedule_day {
        font-size: 14px;
    }

    .contacts_list__cafe_schedule_time {
        font-size: 14px;
    }

    .cafe_contacts__link {
        font-size: 14px;
        line-height: 1.8;
    }


    .btn {margin-right: 12px;}
    .btn-red {
        margin-bottom: 0px;
    }

    .contacts_list {margin-bottom: 60px;}

}




@media screen and (min-width: 1200px) {

    .contacts_list__cafe_schedule_day {
        font-size: 16px;
    }

    .contacts_list__cafe_schedule_time {
        font-size: 16px;
    }

    .contacts_list__cafe_desription {
        font-size: 16px;
    }

    .cafe_contacts__link {
        font-size: 16px;
    }
    
    .contacts {
    padding-bottom: 120px;
    }

      
}
// ________________//Media_________________
