.hero {
    background-color: var(--background-cream);
    padding-bottom: 158px;
    padding-top: 88px;

    background-image: url('../images/Ice-hero/main-icecream-mobile.png'), url('../images/Ice-hero/ellipse-mobile.png');
    background-size: 171px 410px, 346px 344px;
    background-repeat: no-repeat;
    background-position: 70% 50%;
}

/* @media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image:
           url('../images/Ice-hero/main-icecream@2x-mobile.png'), url('../images/Ice-hero/ellipse-mobile@2x.png');
    }
}*/
.hero__title {
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Titan One';
    font-style: normal;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.hero__title-part {
    font-size: 48px;
    color: var(--basic-title-color);
}

.hero__menu {
    display: flex;
    position: relative;
}

.hero__item {
    text-align: center;
    padding: 8px 14px;
    height: 24px;
    min-width: 61.2px;
    font-family: 'DM Sans';
    font-size: 8px;
    line-height: 1.25;
    background: var(--basic-title-color);
    border-radius: 20px;

    &:not(:last-child) {
        margin-right: 8px;
    }
}

.hero__item-white {
    background-color: #FFFFFF;
    color: var(--basic-title-color);
}

.hero__link-red {
    color: var(--basic-title-color);
}

.hero__link-wite {
    color: #FFFFFF;

    .hero__conteiner-relative {
        position: relative;
    }
}

@media screen and (max-width:767px) {
    .hero__text {
        display: none;
    }

    .hero__menu-numbers {
        display: none;
    }
}

@media screen and (min-width:768px) {

    .hero {
        margin-top: 20px;
        background-image: url('../images/Ice-hero/main-icecream-tablet.png'), url('../images/Ice-hero/ellipse-tablet.png');
        background-size: 143px 336px, 335px 333px;
        background-repeat: no-repeat;
        background-position: 60% 50%;
    }

    .hero__title {
        font-size: 22px;
    }

    .hero__title-part {
        font-size: 34px;
    }

    .hero__text {
        position: relative;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 150%;
        color: #FFFFFF;
    }

    .hero__text-conteiner {
        width: 114px;
        position: absolute;
        top: 287px;
        left: 184px;
    }

    .hero__menu-numbers {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.1;
        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: var(--basic-title-color);
    }

    .hero__item-numbers-text {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        text-align: right;
    }

    .hero__item-numbers:not(:last-child) {
        margin-bottom: 17px;
    }

    .women-picture {
        width: 190px;
        height: 150px;
        position: absolute;
        top: 265px;
        left: 546px;
    }

}

@media screen and (min-width:1200px) {
    .hero {
        padding-top: 74.9px;
        padding-bottom: 316px;
    }

    .hero__text-conteiner {
        width: 114px;
        position: absolute;
        top: 383px;
        left: 269px;
    }
}