
.label-text {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: var(--subtitle-color);
    margin-bottom: 18px;
}

.products__section-tittle {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--basic-title-color);
    margin-bottom: 160px;
}

.products__description {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--card-tittle-color);
    width: 200px;
    
  
}

.products__tittle {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color:var(--card-tittle-color);   
}

.products__ice-cream {
    border-radius: 24px;
    background-color: var(--background-cream);
    
}
.products__coffee {
    border-radius: 24px;
    background-color: var(--background-coffee);
}
.products__milkshakes {
    border-radius: 24px;
    background-color: var(--background-milkshakes);
}

.products__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.products__item {
    width: 280px;
    padding: 160px 40px 40px;
    position: relative;
   
}
.products__poits::after {
    content: '';
    display: block;
    background-image: url(../images/png-products/poits-png.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 26px;
    height: 6px;
    margin: 32px auto;
}

.products__arrow::after {
    content: '';
    display: block;
    background-image: url(../images/png-products/arrow-png.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
}
.products__ice-cream::before {
    content: '';
    background-image: url(../images/ice-products-png/ice-cream-mobile.png);
    width: 280px;
    height: 274px;
    background-size: cover;
    position: absolute;
    top: -28%;
    transform: translateX(-50%);
    left: 50%;
}
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products__ice-cream::before {
        background-image:
            url('/src/images/ice-products-png/ice-cream-mobile-@2x.png');
    }
}

.products__coffee::before {
    content: '';
    background-image: url(../images/ice-products-png/coffee-mobile.png);
    width: 280px;
    height: 274px;
    background-size: cover;
    position: absolute;
    top: -28%;
    transform: translateX(-50%);
    left: 50%;
}
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products__coffee::before {
        background-image:
            url('../images/ice-products-png/coffee-mobile-@2x.png');
    }
}

.products__milkshakes::before {
    content: '';
    background-image: url(../images/ice-products-png/milkshakes-mobile.png);
    width: 280px;
    height: 274px;
    background-size: cover;
    position: absolute;
    top: -28%;
    transform: translateX(-50%);
    left: 50%;
}
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products__milkshakes::before {
        background-image:
            url('../images/ice-products-png/milkshakes-mobile-@2x.png');
    }
}


@media screen and (max-width: 767px) {
    .products__item:not(:last-child){
        margin-bottom: 140px;
        
    }
}

@media screen and (min-width: 768px) {
    .label-text {
        font-size: 26px;
        line-height: 1.15;
    }
    .products__section-tittle {
        font-size: 48px;
        line-height: 1.14;
    }
    .products__description {
        width: 160px;
        font-size: 14px;
        line-height: 1.78;
    }
    .products__tittle {
        font-size: 20px;
        line-height: 1.15;
    }
    .products__item {
        width: 224px;
        padding: 118px 32px 40xp;
        &:not(:last-child) {
            margin-right: 16px;
        }
    }
    .products__ice-cream::before {
        content: '';
        background-image: url(../images/ice-products-png/ice-cream-tablet.png);
        width: 224px;
        height: 224px;   
        top: -25%;
        transform: translateX(-50%);
        left: 50%;
    }
    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products__ice-cream::before {
        background-image:
            url('../images/ice-products-png/ice-cream-tablet-@2x.png');
    }
}



    .products__coffee::before {
        content: '';
        background-image: url(../images/ice-products-png/coffee-tablet.png);
        width: 224px;
        height: 224px; 
        top: -25%;
        transform: translateX(-50%);
        left: 50%;
    }
    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .products__coffee::before {
            background-image:
                url('../images/ice-products-png/coffee-tablet-@2x.png');
        }
    }
    
 
    .products__milkshakes::before {
        content: '';
        background-image: url(../images/ice-products-png/milkshakes-tablet.png);
        width: 224px;
        height: 224px; 
        top: -25%;
        transform: translateX(-50%);
        left: 50%;
    }
    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .products__milkshakes::before {
            background-image:
                url('../images/ice-products-png/milkshakes-tablet-@2x.png');
        }
    }
   
     
}
@media screen and (min-width: 1200px) {
    .label-text {
        font-size: 30px;
        line-height: 1.13;
    }
    .products__section-tittle {
        font-size: 58px;
        line-height: 66px;
        margin-bottom: 281px;
    }
    .products__description {
        width: 241px;
        font-size: 16px;
        line-height: 1.75;
    }
    .products__tittle {
        font-size: 30px;
        line-height: 1.13;
    }
    .products__item {
        width: 368px;
        padding: 165px 64px 60px;
        &:not(:last-child) {
            margin-right: 32px;
        }
    }
    .products__ice-cream::before {
        content: '';
        background-image: url(../images/ice-products-png/ice-cream-desktop.png);
        width: 368px;
        height: 398px;
        top: -52%;
        transform: translateX(-50%);
        left: 50%;
    
    }
    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .products__ice-cream::before {
            background-image:
                url('../images/ice-products-png/ice-cream-desktop-@2x.png');
        }
    }
   
    .products__coffee::before {
        content: '';
        background-image: url(../images/ice-products-png/coffee-desktop.png);
        width: 368px;
        height: 398px;
        top: -52%;
        transform: translateX(-50%);
        left: 50%;
    }
    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .products__coffee::before {
            background-image:
                url('../images/ice-products-png/coffee-desktop-@2x.png');
        }
    }
   
    .products__milkshakes::before {
        content: '';
        background-image: url(../images/ice-products-png/milkshakes-desktop.png);
        width: 368px;
        height: 398px;
        top: -52%;
        transform: translateX(-50%);
        left: 50%;
    }
    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .products__milkshakes::before {
            background-image:
                url('../images/ice-products-png/milkshakes-desktop-@2x.png');
        }
    }
    
}